@charset "UTF-8";

header {

    text-align: center;
    margin: 0%;
    width: auto;
    height:260px ;
    background-image: linear-gradient(180deg, rgb(1, 109, 55), rgb(1, 46, 21));
}

header > p {
    font-size: 2px;
}

div{
    margin: 0%;
}

body{
    margin: 0%;
    background-color: antiquewhite;

}

h1 {
    font-family: sans-serif;
    color: white;
    padding-top: 10px;
    text-align: center;
    margin: 0%;
}