@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

form > p{
    text-align: left;
}

div#container{
    display: grid;
    place-items: center;
}

div#caixa {
    border-radius: 10px;
    border: 2px solid black;
    background-color: lightslategray;
    display: grid;
    place-items: center;
    width: 450px;
    height: 240px;
}


/* IDs */
#titulo {
    display: inline-block;
    background-color: lightgray;
    padding: 5px;
    margin: 0px;
    font-size: 1.4em;
}

#textnome01{
    margin-left: 40px;
}

#enviar {
    text-align: center;
}